@import './colors';

.page {
    height: 100vh;

    background-image: linear-gradient($c_background_light, $c_background_light), url('/mountain_bg_flip.png');
    background-size: 120%;
    background-position: center -20rem;
}